# This is the domain that can bypass CORS. Useful for the frontend.
DOMAIN = "example.com"

# Host and port the backend will use.
HOST = "0.0.0.0"
PORT = 5454

# Database information.
DATABASE_HOST = "localhost"
DATABASE_PORT = 5432
DATABASE_USER = "..."
DATABASE_PASS = "..."
DATABASE_DB = "..."
DATABASE_URL = "postgres://${DATABASE_USER}:${DATABASE_PASS}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_DB}"

# Object storage information.
MINIO_ROOT_USER = "..."
MINIO_ROOT_PASSWORD = "..."
S3_ACCESS_KEY = "..."
S3_SECRET_KEY = "..."
S3_URL = "http://localhost:9000"
